/* Main page */

main button {
  cursor: pointer;
}

.bookingSection {
  width: 95vw;
  margin: 75px auto;
}

.choosing {
  display: flex;
}

.choosing button {
  /* background-color: rgb(248, 161, 0); */
  background-color: rgb(45, 85, 180);
  color: #fff;
  height: 30px;
  width: 150px;
  display: block;
  padding-top: 5px;
  border-radius: 5px 5px 0 0;
  text-align: center;
  border: none;
  margin-right: 5px;
}

.choosing .accommodation,
.choosing .tours {
  /* background-color: rgb(255, 177, 32); */
  background-color: rgb(30, 60, 130);
  color: #fff;
}

.rezervation {
  /* background-color: rgb(255, 177, 32); */
  /* background: linear-gradient(90deg,rgba(44, 63, 89, 1) 6%, rgba(16, 10, 94, 1) 52%, rgba(20, 3, 89, 1) 95%); */
  background: linear-gradient(130deg,rgb(19, 27, 81) 6%, rgba(40, 30, 140,1) 52%, rgb(36, 14, 120) 95%);
  height: 100%;
  margin: auto;
  display: grid;
  border-radius: 0 5px 5px 5px;
}

.rezervation input {
  width: calc(100% - 20px);
  height: 50px;
  margin: 25px 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  min-width: 180px;
  transition-duration: 0.25s;
  /* border: 1px solid #CBD5E0; */
  border: 1px solid rgba(255,255,255,0.3);
}

.rezervation input:focus {
  /* border-color: #FFD580; */
  outline: none;
  border: 1px solid #3B82F6;
}

.rezervation .rezervation_button {
  /* background-color: rgb(40, 40, 139); */
  /* background-color: #3B82F6; */
  /* background-color: rgb(66, 135, 245); */
  background-color: #1565C0;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  height: 50px;
  margin: auto;
  margin: 25px 10px;
  min-width: 180px;
  transition-duration: 0.2s;
}

.rezervation .rezervation_button:hover {
  background-color: #0D47A1;
}

.rezervation .searchPlaceInput:focus {
  margin-bottom: 20px;
}

.searchPlacesDiv {
  color: white;
  background-color: rgb(9, 9, 198);
  padding: 8px;
  border-top: 1.5px solid white;
  cursor: pointer;
}

.searchPlacesDiv:nth-of-type(1) {
  border-top: none;
}

.searchPlacesDiv:hover {
  background-color: rgb(40, 40, 139);
}

.announcmentNoHotels {
  /* background-color: #FFD580;
  color: #333; */
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  padding: 12px;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
}

.announcmentNoHotels span {
  display: block;
  margin-top: 7px;
}

.announcmentNoHotels span .telNumber {
  display: inline;
  color: #fff;
  /* background-color: #ffc85b; */
  background-color: #153282;
  border-radius: 8px;
  padding: 3.5px;
}

.spanShowCityName {
  margin-left: 12px;
  font-size: 12px;
  color: rgb(231, 231, 231)
}

.react-datepicker {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.choosePeopleInput {
  cursor: pointer;
}

.peoplePickerBox {
  width: 80vw;
  padding: 15px;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  margin: 40px auto;
}

.childrenPicker,
.adultsPicker,
.ageOfChild {
  display: flex;
  align-items: center;
  height: 30px
}

.childrenPicker {
  margin-top: 15px;
}

.ageOfChild {
  margin-top: 30px;
}

.peoplePickerBox p {
  /* background-color: #efb43e; */
  /* background-color: #3B82F6; */
  background-color: #2C3E50;
  color: #fff;
  width: 30px;
  text-align: center;
  padding: 7px;
  height: 100%
}

.peoplePickerBox label {
  width: 88%;
  color: #1F2937
}

.peoplePickerSubmitButton {
  padding: 12px;
  border-radius: 33px;
  width: 100%;
  margin: 40px 0 20px 0;
  background-color: #2C3E50;
  color: #fff;
  border: none;
}

.adultsPicker button,
.childrenPicker button {
  /* background-color: #efb43e; */
  /* background-color: #3B82F6; */
  /* background-color: rgb(66, 135, 245); */
  background-color: #2C3E50;
  border: none;
  width: 30px;
  height: 100%;
  color: white;
  font-size: 20px;
}

.adultsPicker button:hover,
.childrenPicker button:hover,
.peoplePickerSubmitButton:hover {
  border-color: #fff;
  /* background-color: #FFD580; */
  /* background-color: rgb(54, 115, 210); */
  background-color: #1A2738;
}

.peoplePickerBox select {
  width: 140px;
  height: 30px;
  border-radius: 14px;
  padding: 5px;
}

.submitErrorAnnouncment {
  color: #e74c3c;
  margin: 7px 0 12px 12px;
  font-size: 0.9rem;
}

@media only screen and (max-width: 1100px) {
.rezervation input {
  margin: 32px 10px 0px 10px;
}

.rezervation_button {
  margin: 32px 10px;
}
}

/* .mainPageFirstPhoto {
  position: absolute;
  top: 50px;
  max-width: 100%;
  max-height: calc(100vh - 50px);
  z-index: -1;
}

.quoteBox {
  padding: 9px;
  border-radius: 15px;
  max-width: 80%;
  width: 540px;
  background-image: linear-gradient(138deg, rgb(0, 26, 110), rgb(0, 24, 54));
  margin: 80px auto;
}

  .quote {
    text-align: center;
    font-size: 22px;
    color: white;
    margin-bottom: 12px;
    font-style: italic;
  }

  .authorOfQuote {
    display: inline;
    margin-left: 80%;
    font-size: 18px;
    color: rgb(245, 245, 245);
  }

.titleContent {
  margin-top: 100px;
}

.titleContent h1 {
  color: rgb(237, 252, 255);
  text-align: center;
}

.createBlogButton {
  margin-top: 20px;
  border-radius: 8px 12px;
  border-color: rgb(247, 247, 247);
  background-color: aquamarine;
  color: blue;
  padding: 3px;
  font-size: 1.1rem;
  width: 104px;
  cursor: pointer;
}

.blogLink {
  position: static;
  margin-left: calc(50% - 50px);
} */

/* @media only screen and(max-width: 700px) {
.quoteBox {
  max-width: 400px;
}
}

@media only screen and(max-width: 500px) {
.quoteBox {
  max-width: 200px;
}
} */
