body {
 background: linear-gradient(135deg, #f5f7fa 0%, #e9ecfa 100%);
}

main button {
  cursor: pointer;
}

.bookingSection {
  max-width: 950px;
  margin: 75px auto;
}

.choosing {
  display: flex;
}

.choosing button {
  background-color: rgb(45, 85, 180);
  color: #fff;
  height: 30px;
  width: 150px;
  display: block;
  padding-top: 5px;
  border-radius: 5px 5px 0 0;
  text-align: center;
  border: none;
  margin-right: 5px;
}

.choosing .accommodation,
.choosing .tours {
  background-color: rgb(30, 60, 130);
  color: #fff;
}

.rezervation {
  background: linear-gradient(130deg,rgb(19, 27, 81) 6%, rgba(40, 30, 140,1) 52%, rgb(36, 14, 120) 95%);
  height: 100%;
  margin: auto;
  display: grid;
  border-radius: 0 15px 15px 15px;
  padding: 10px 30px;
}

.rezervation input {
  width: 100%;
  height: 50px;
  margin: 25px 0px 30px 0px;
  padding-left: 50px;
  font-size: 14px;
  border-radius: 6px;
  min-width: 180px;
  transition-duration: 0.25s;
  border: 1px solid rgba(255,255,255,0.3);
}

.datePickerDiv .react-datepicker-wrapper {
  width: 100%;
}

.datePickerDiv input {
  width: 100%;
}



.searchPlaceDiv,
.datePickerDiv,
.choosePeopleDiv {
  position: relative;
}

.searchPlaceSpan,
.datePickerSpan,
.choosePeopleSpan {
  position: absolute;
  top: 48px;
  transform: translate(0, -50%);
  left: 10px;
  z-index: 1;
  pointer-events: none;
  font-size: 20px;
}

.choosePeopleSpan {
  margin-top: 3px;
}



.rezervation input:focus {
  outline: none;
  border: 1px solid #3B82F6;
}

.rezervation .rezervation_button {
  background-color: #1565C0;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  height: 50px;
  margin: auto;
  margin: 30px 0px;
  min-width: 180px;
  transition-duration: 0.2s;
}

.rezervation .rezervation_button:hover {
  background-color: #0D47A1;
}

.searchPlacesDiv {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-top: 1.5px solid white;
  cursor: pointer;
}

.searchPlacesDiv:nth-of-type(1) {
  border-top: none;
}

.searchPlacesDiv:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.announcmentNoHotels {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  padding: 12px;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
}

.announcmentNoHotels span {
  display: block;
  margin-top: 7px;
}

.announcmentNoHotels span .telNumber {
  display: inline;
  color: #fff;
  background-color: #153282;
  border-radius: 8px;
  padding: 3.5px;
}

.spanShowCityName {
  margin-left: 12px;
  font-size: 12px;
  color: rgb(231, 231, 231)
}

.react-datepicker {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.choosePeopleInput {
  cursor: pointer;
}

.peoplePickerBox {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  font-size: 16px;
  background-color: white;
  margin: 25px 0;
}

.childrenPicker,
.adultsPicker,
.ageOfChild {
  display: flex;
  align-items: center;
  height: 30px
}

.childrenPicker {
  margin-top: 15px;
}

.ageOfChild {
  margin-top: 30px;
}

.peoplePickerBox p {
  background-color: #2C3E50;
  color: #fff;
  width: 30px;
  text-align: center;
  padding: 7px;
  height: 100%
}

.peoplePickerBox label {
  width: 88%;
  color: #1F2937
}

.peoplePickerSubmitButton {
  padding: 12px;
  border-radius: 33px;
  width: 100%;
  margin: 40px 0 20px 0;
  background-color: #2C3E50;
  color: #fff;
  border: none;
}

.adultsPicker button,
.childrenPicker button {
  background-color: #2C3E50;
  border: none;
  width: 30px;
  height: 100%;
  color: white;
  font-size: 20px;
}

.adultsPicker button:hover,
.childrenPicker button:hover,
.peoplePickerSubmitButton:hover {
  border-color: #fff;
  background-color: #1A2738;
}

.peoplePickerBox select {
  width: 140px;
  height: 30px;
  border-radius: 14px;
  padding: 5px;
}

.submitErrorAnnouncment {
  position: relative;
  color: #e74c3c;
  margin: -22px 0 7px 0;
  font-size: 0.9rem;
}

/* Why choose us section */
.whyChooseUs {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  color: #1F2937;
  justify-content: center;
}

.whyChooseUs div {
  width: 250px;
  margin: 20px 30px;
}

.whyChooseUs div p {
  width: 200px;
  padding-top: 12px;
  text-align: center;
}



@media only screen and (max-width: 1000px) {
.bookingSection {
  max-width: 90vw;
}
}

/* .mainPageFirstPhoto {
  position: absolute;
  top: 50px;
  max-width: 100%;
  max-height: calc(100vh - 50px);
  z-index: -1;
}

.quoteBox {
  padding: 9px;
  border-radius: 15px;
  max-width: 80%;
  width: 540px;
  background-image: linear-gradient(138deg, rgb(0, 26, 110), rgb(0, 24, 54));
  margin: 80px auto;
}

  .quote {
    text-align: center;
    font-size: 22px;
    color: white;
    margin-bottom: 12px;
    font-style: italic;
  }

  .authorOfQuote {
    display: inline;
    margin-left: 80%;
    font-size: 18px;
    color: rgb(245, 245, 245);
  }

.titleContent {
  margin-top: 100px;
}

.titleContent h1 {
  color: rgb(237, 252, 255);
  text-align: center;
}

.createBlogButton {
  margin-top: 20px;
  border-radius: 8px 12px;
  border-color: rgb(247, 247, 247);
  background-color: aquamarine;
  color: blue;
  padding: 3px;
  font-size: 1.1rem;
  width: 104px;
  cursor: pointer;
}

.blogLink {
  position: static;
  margin-left: calc(50% - 50px);
} */

/* @media only screen and(max-width: 700px) {
.quoteBox {
  max-width: 400px;
}
}

@media only screen and(max-width: 500px) {
.quoteBox {
  max-width: 200px;
}
} */
