/* Main page */

main button {
  cursor: pointer;
}

.bookingSection {
  width: 95vw;
  margin: 75px auto;
}

.choosing {
  display: flex;
}

.choosing button {
  background-color: rgb(248, 161, 0);
  height: 30px;
  width: 150px;
  display: block;
  padding-top: 5px;
  border-radius: 5px 5px 0 0;
  text-align: center;
  border: none;
  margin-right: 5px;
}

.choosing .accommodation,
.choosing .tours {
  background-color: rgb(255, 177, 32);
}

.rezervation {
  background-color: rgb(255, 177, 32);
  height: 100%;
  margin: auto;
  display: grid;
  border-radius: 0 5px 5px 5px;
}

.rezervation input {
  height: 50px;
  margin: 25px 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  min-width: 180px;
}

.rezervation button {
  background-color: rgb(40, 40, 139);
  color: white;
  border-radius: 10px;
  font-size: 20px;
  height: 50px;
  margin: auto;
  margin: 25px 10px;
  min-width: 180px;
  transition-duration: 0.2s;
}

.rezervation button:hover {
  background-color: rgb(9, 9, 198);
}

.rezervation .searchPlaceInput {
  margin-bottom: 20px;
}

.searchPlacesDiv {
  color: white;
  background-color: rgb(9, 9, 198);
  padding: 8px;
  border-top: 1.5px solid white;
  cursor: pointer;
}

.searchPlacesDiv:nth-of-type(1) {
  border-top: none;
}

.searchPlacesDiv:hover {
  background-color: rgb(40, 40, 139);
}

.announcmentNoHotels {
  background-color: #FFD580;
  color: #333;
  text-align: center;
  padding: 12px;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
}

.announcmentNoHotels span {
  display: block;
  margin-top: 7px;
}

.announcmentNoHotels span .telNumber {
  display: inline;
  color: #181818;
  background-color: #ffc85b;
  border-radius: 5px;
  padding: 3px;
}

.spanShowCityName {
  margin-left: 12px;
  font-size: 12px;
  color: rgb(231, 231, 231)
}

@media only screen and (max-width: 1100px) {
.rezervation input {
  margin: 32px 10px 0px 10px;
}

.rezervation button {
  margin: 32px 10px;
}
}

/* .mainPageFirstPhoto {
  position: absolute;
  top: 50px;
  max-width: 100%;
  max-height: calc(100vh - 50px);
  z-index: -1;
}

.quoteBox {
  padding: 9px;
  border-radius: 15px;
  max-width: 80%;
  width: 540px;
  background-image: linear-gradient(138deg, rgb(0, 26, 110), rgb(0, 24, 54));
  margin: 80px auto;
}

  .quote {
    text-align: center;
    font-size: 22px;
    color: white;
    margin-bottom: 12px;
    font-style: italic;
  }

  .authorOfQuote {
    display: inline;
    margin-left: 80%;
    font-size: 18px;
    color: rgb(245, 245, 245);
  }

.titleContent {
  margin-top: 100px;
}

.titleContent h1 {
  color: rgb(237, 252, 255);
  text-align: center;
}

.createBlogButton {
  margin-top: 20px;
  border-radius: 8px 12px;
  border-color: rgb(247, 247, 247);
  background-color: aquamarine;
  color: blue;
  padding: 3px;
  font-size: 1.1rem;
  width: 104px;
  cursor: pointer;
}

.blogLink {
  position: static;
  margin-left: calc(50% - 50px);
} */

/* @media only screen and(max-width: 700px) {
.quoteBox {
  max-width: 400px;
}
}

@media only screen and(max-width: 500px) {
.quoteBox {
  max-width: 200px;
}
} */
